@model HotelBooking.Models.Room

@{
    Layout = "Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room Detail</title>
    <script>
        function validateDates() {
            const checkIn = new Date(document.getElementById("date-in").value);
            const checkOut = new Date(document.getElementById("date-out").value);
            if (checkOut <= checkIn) {
                alert("Check-out date must be later than check-in date.");
                return false; // Ngăn không cho gửi biểu mẫu
            }
            return true; // Cho phép gửi biểu mẫu
        }
    </script>
</head>
<body>
    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Our Rooms</h2>
                        <div class="bt-option">
                            <a href="./home.html">Home</a>
                            <span>Rooms</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img width="100%" height="500px" src="/img/room/@Html.DisplayFor(model => model.Image)" alt="">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>@Html.DisplayFor(model => model.RoomName)</h3>
                                <div class="rdt-right">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                    <a asp-controller ="Booking" asp-action="Booking" asp-route-roomID="@Model.RoomName">Booking Now</a>
                                </div>
                            </div>
                            <h2>@Html.DisplayFor(model => model.Price)đ<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>@Html.DisplayFor(model => model.RoomType.TypeName)</td>
                                    </tr>
                                 
                                    <tr>
                                        <td class="r-o">Capital:</td>
                                        <td>@Html.DisplayFor(model => model.Country.CountryName)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">
                                Căn phòng homestay mang phong cách hiện đại pha chút ấm cúng, được trang bị đầy đủ tiện nghi để mang lại trải 
                                nghiệm thoải mái nhất cho khách lưu trú. Phòng có giường đôi rộng rãi với chăn gối êm ái, bàn làm việc gọn 
                                gàng, và khu vực ghế sofa thư giãn. Cửa sổ lớn đón ánh sáng tự nhiên, mang đến không gian thoáng đãng cùng tầm 
                                nhìn đẹp ra khu vườn hoặc núi non. 
                                Nhà tắm riêng với vòi sen hiện đại, nước nóng, và các vật dụng như khăn tắm, dầu gội, sữa tắm được chuẩn bị 
                                sẵn. Ngoài ra, căn phòng còn được trang bị điều hòa, TV màn hình phẳng, Wi-Fi tốc độ cao, và một khu bếp nhỏ 
                                với ấm siêu tốc, tủ lạnh mini để khách tự do pha trà, cà phê. Không gian vừa ấm áp vừa tiện nghi này rất lý 
                                tưởng cho cả chuyến đi nghỉ dưỡng và công tác.

                            </p>
                            <p>
                                Nhà tắm riêng với vòi sen hiện đại, nước nóng, và các vật dụng như khăn tắm, dầu gội, sữa tắm được chuẩn bị
                                sẵn. Ngoài ra, căn phòng còn được trang bị điều hòa, TV màn hình phẳng, Wi-Fi tốc độ cao, và một khu bếp nhỏ
                                với ấm siêu tốc, tủ lạnh mini để khách tự do pha trà, cà phê. Không gian vừa ấm áp vừa tiện nghi này rất lý
                                tưởng cho cả chuyến đi nghỉ dưỡng và công tác.
                            </p>
                        </div>
                    </div>
                    <div class="rd-reviews">
                        <h4>Reviews</h4>
                        <div class="review-item">
                            <div class="ri-pic">
                                <img src="~/img/room/avatar/avatar-1.jpg" alt="">
                            </div>
                            <div class="ri-text">
                                <span>27 Nov 2024</span>
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5>Đào An Nguyên</h5>
                                <p>
                                    "Mình đã có một trải nghiệm tuyệt vời tại căn phòng này! Phòng rất sạch sẽ và bài trí ấm cúng, 
                                    cảm giác như ở nhà vậy. Giường cực kỳ thoải mái, cộng thêm cửa sổ lớn mang đến ánh sáng tự nhiên 
                                    cùng view nhìn ra vườn rất thư giãn. Các tiện nghi trong phòng đều đầy đủ và hiện đại, đặc biệt là Wi-Fi mạnh, 
                                    phù hợp để làm việc từ xa. Mình cũng rất thích khu bếp nhỏ được chuẩn bị chu đáo, có cả trà và cà phê miễn phí. 
                                    Chủ nhà rất thân thiện, sẵn sàng hỗ trợ bất kỳ lúc nào. Chắc chắn sẽ quay lại nếu có dịp!"
                                </p>
                            </div>
                        </div>
                        <div class="review-item">
                            <div class="ri-pic">
                                <img src="~/img/room/avatar/avatar-2.jpg" alt="">
                            </div>
                            <div class="ri-text">
                                <span>29 Nov 2024</span>
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5>Nguyễn Hải Minh</h5>
                                <p>
                                    "Phòng homestay rất đẹp và tiện nghi, vượt xa mong đợi của mình! Từ lúc bước vào, mình đã ấn tượng bởi cách bài trí 
                                    tinh tế, vừa hiện đại vừa ấm cúng. Giường ngủ thoải mái, chăn gối sạch sẽ, thơm tho. Mình đặc biệt thích góc nhỏ 
                                    bên cửa sổ với view núi xanh mát, ngồi đó uống cà phê buổi sáng thì thật tuyệt. Phòng tắm riêng rất sạch, có đầy 
                                    đủ đồ dùng cần thiết. Chủ nhà cực kỳ chu đáo, luôn hỗ trợ nhanh chóng khi mình cần. Đây thực sự là một nơi lý tưởng 
                                    để nghỉ ngơi và tận hưởng!"
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="review-add">
                        <h4>Add Review</h4>
                        <form action="#" class="ra-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name*">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email*">
                                </div>
                                <div class="col-lg-12">
                                    <div>
                                        <h5>You Rating:</h5>
                                        <div class="rating">
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star"></i>
                                            <i class="icon_star-half_alt"></i>
                                        </div>
                                    </div>
                                    <textarea placeholder="Your Review"></textarea>
                                    <button type="submit">Submit Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Your Reservation</h3>
                        <form method="GET" action="/Booking/RoomSearch">
                            <div class="form-group check-location">
                                <label for="location">Location:</label>
                                <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required>
                            </div>
                            <div class="check-date">
                                <label for="date-in">Check In:</label>
                                <input type="text" class="date-input" id="date-in" name="checkin">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Check Out:</label>
                                <input type="text" class="date-input" id="date-out" name="checkout">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="room">Room:</label>

                                <select id="room" name="room">
                                    <option value="Single">Single</option>
                                    <option value="Double">Double</option>
                                    <option value="Suite">Suite</option>
                                </select>

                            </div>
                            <button type="submit" asp-controller="Booking" asp-action="RoomSearch">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Details Section End -->

















    @* <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="room-details-item">
                        <img width="100%" height="500px" src="/img/room/@Html.DisplayFor(model => model.Image)" alt="">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3>@Html.DisplayFor(model => model.RoomName)</h3>
                                <div class="rdt-right">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                    <a asp-controller="Booking" asp-action="Booking" asp-route-roomID="@Model.RoomName">Booking Now</a>
                                </div>
                            </div>
                            <h2>@Html.DisplayFor(model => model.Price)$<span>/Pernight</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Size:</td>
                                        <td>30 ft</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Capacity:</td>
                                        <td>@Html.DisplayFor(model => model.RoomType.TypeName)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Country:</td>
                                        <td>@Html.DisplayFor(model => model.Country.CountryName)</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Services:</td>
                                        <td>Wifi, Television, Bathroom,...</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <!-- Reviews Section -->
                    <div class="rd-reviews">
                        <h4>Reviews</h4>
                        <!-- Review items go here -->
                    </div>
                    <div class="review-add">
                        <h4>Add Review</h4>
                        <form action="#" class="ra-form">
                            <!-- Review form fields go here -->
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Room Details Section End --> *@
</body>
</html>
